<div class = "row mockt-page-nav">
   <div class="col-sm-8">
      <button class="btn btn-secondary">
         <%= link_to "Change Team Membership", new_team_team_assignment_path(@team) %>
      </button>
   </div><!-- close column -->
   <div class="col-sm-4">
        <div class="btn-group" role="group" aria-label="Heading Nav">
            <button class="btn btn-secondary"><%= link_to "Competitions", competitions_path %></button>
            <button class="btn btn-secondary"><%= link_to "Teams", teams_path %></button>
            <button class="btn btn-secondary"><%= link_to "Team Members", team_members_path %></button>
        </div><!-- close btn-group -->
      </div><!-- close column -->
</div>

<div class="container mockt-page">
   <h1>Team Edit</h1>

   <%= form_for [@team] do |f| %>
      <%= f.label "Team Name: " %>
      <%= f.text_field :name %>
      <br>
      <%= f.label "Institution Represented by the Team: " %>

      <%= f.select (:institution_id) do %>
         <%= options_for_select(@institutions.collect { |institution| [institution.name, institution.id]}, @team.institution_id) %>
      <% end %>
      <br>
      <%= f.button %>

   <% end %>

   <h2> Members assigned to this team: </h2>
   <ul class="list-group">
      <% @team_assignments.each do |team_assignment| %>
         <% team_member = TeamMember.find_by(id: team_assignment.team_member_id) %>
         <% li_item = "#{team_member.fullName} (#{team_member.id})" %>
         <li class="list-group-item"><%= link_to li_item, edit_team_member_path(team_member)%></li>
      <% end %>
   </ul>
</div>
