<div class = "row mockt-page-nav">
   <div class="col-sm-8">
      <button class="btn btn-secondary">
         <%= link_to "Add Team Members", team_member_team_assignments_path(@team) %>
      </button>
   </div><!-- close column -->
   <div class="col-sm-4">
        <div class="btn-group" role="group" aria-label="Heading Nav">
            <button class="btn btn-secondary"><%= link_to "Competitions", competitions_path %></button>
            <button class="btn btn-secondary"><%= link_to "Teams", teams_path %></button>
            <button class="btn btn-secondary"><%= link_to "Team Members", team_members_path %></button>
        </div><!-- close btn-group -->
      </div><!-- close column -->
</div>

<div class="container mockt-page">
   <h1>Team Edit</h1>

   <%= form_for [@team] do |f| %>
      <%= f.label "Team Name: " %>
      <%= f.text_field :name %>
      <br>
      <%= f.label "Institution Represented by the Team: " %>

      <%= f.select (:institution_id) do %>
         <%= options_for_select(@institutions.collect { |institution| [institution.name, institution.id]}, @team.institution_id) %>
      <% end %>
      <br>
      <%= f.button %>

   <% end %>
</div>
