
<div class = "row mockt-page-nav">
  	<div class="col-sm-8">
		<button class="btn btn-secondary"><%= link_to "Add", new_team_path %></button>
	</div><!-- close column -->
	<div class="col-sm-4">
        <div class="btn-group" role="group" aria-label="Heading Nav">
            <button class="btn btn-secondary"><%= link_to "Competitions", competitions_path %></button>
            <button class="btn btn-secondary"><%= link_to "Teams", teams_path %></button>
            <button class="btn btn-secondary"><%= link_to "Team Members", team_members_path %></button>
        </div><!-- close btn-group -->
      </div><!-- close column -->
</div>

<div class="container mockt-page">
	<h1>Mock Trial Teams</h1>
	<ul>
		<% @teams.each do |team| %>
			<% li_item = "#{team.id}. #{team.name}, #{team.institution.name}" %>
			<li class="list-group-item"><%= link_to li_item, edit_team_path(team)%></li>
		<% end %>
	</ul>

</div>