<div class = "row mockt-page-nav">
</div>

<div class="container mockt-page">
	<h2> New Ballot for Round <%= @round.number %></h2>

	<%= form_for @ballot, url: competition_round_ballots_path(@competition ,@round) do |f| %>
		<%= f.label "Judge Scoring the Ballot: " %>

		<%= f.collection_select(:judge_id, @judges, :id, :fullName) %>

		<%= hidden_field_tag :competition, @competition %>
		<%= hidden_field_tag :round, @round %>
		<br>
		<br>
		<%= f.button %>
	<% end %>
</div>