<h2> New Ballot for Round <%= @round.number %> %></h2>

<%= form_for @ballot do |f| %>
	<%= f.label :judge_id %>
	<%= f.text_field :judge_id %>
	<br>
	<p><%= @round %></p>
	<%= hidden_field_tag :round, @round %>
</form>
	<h3> And so on the with ballot page </h3>
	<%= f.button %>
<% end %>