<div class = "row mockt-page-nav">
  	<div class="col-sm-8">
		<button class="btn btn-secondary"><%= link_to "New Competition", new_competition_path %></button>
	</div><!-- close column -->
	<div class="col-sm-4">
        <div class="btn-group" role="group" aria-label="Heading Nav">
            <button class="btn btn-secondary"><%= link_to "Competitions", competitions_path %></button>
            <button class="btn btn-secondary"><%= link_to "Teams", teams_path %></button>
            <button class="btn btn-secondary"><%= link_to "Team Members", team_members_path %></button>
        </div><!-- close btn-group -->
      </div><!-- close column -->
</div>
	
<div class = "container mockt-page mockt-page">

	<h1>Competitions</h1>

	<ul class="list-group">
		<% @competitions.each do |competition| %>
			<% li_item = "#{competition.id} - #{competition.eventDatetime} - #{competition.title}" %>
			<li class="list-group-item"><%= link_to li_item, competition_path(competition)%></li>
		<% end %>
	</ul>

</div>

	