<div class = "row mockt-page-nav">
  	<div class="col-sm-8">
	</div><!-- close column -->
	<div class="col-sm-4">
        <div class="btn-group" role="group" aria-label="Heading Nav">
            <button class="btn btn-secondary"><%= link_to "Competitions", competitions_path %></button>
            <button class="btn btn-secondary"><%= link_to "Teams", teams_path %></button>
            <button class="btn btn-secondary"><%= link_to "Team Members", team_members_path %></button>
        </div><!-- close btn-group -->
      </div><!-- close column -->
</div>

<div class="container mockt-page">

	<h1> Competitions </h1>

	<h2>Enter a new competition</h2>

	<%= form_for @competition do |f| %>
		<%= f.label :title %>
		<%= f.text_field :title %>
		<br>
		<%= f.label "Case: " %>
		<%= f.collection_select(:case_id, @cases, :id, :caseName) %>
		<br>
		<%= f.label "Event Location: " %>
		<%= f.collection_select(:institution_id, @institutions, :id, :name) %>
		<br>
		<% @competition.eventDatetime = Date.current.in_time_zone %>
		<%= f.label "Event Date and Time" %>
		<%= f.datetime_field :eventDatetime %>
		<br>
		<%= f.button %>
	<% end %>
</div>