<div class = "row mockt-page-nav">
	<button class="btn btn-secondary"><%= link_to "Cancel", competitions_path %></button>
	<button class="btn btn-secondary"><%= link_to "Edit Competition", edit_competition_path(@competition) %></button>
	<button class="btn btn-secondary"><%= link_to "Delete Competition", competition_path(@competition), method: :delete  %></button>
	<button class="btn btn-secondary"><%= link_to "Define Ballot", competition_phases_path(@competition)%></button>
	<button class="btn btn-secondary"><%= link_to "Add Round", new_competition_round_path(@competition)%></button>

	<% if @competition.rounds.count > 0 %>
		<button class="btn btn-secondary"><%= link_to "Delete Round", competition_round_path(@competition, id: @competition.rounds.last), method: :delete  %></button>
		<br>
	<% end %>
</div>

<div class="container">
	<h1>Competition Details</h1>


	<h3><%= "Event Title: #{@competition.title}"  %></h3>

	<h3><%= "Case: #{@competition.case.caseName}" %></h3>

	<h3><%= "Event Location: #{@competition.institution.name}"  %></h3>

	<h3><%= "Event Date and Time: #{@competition.eventDatetime}"  %></h3>

	<h3>Competition Rounds:</h3>
	<ol>
	<% @competition.rounds.each do |round| %>
		<li class="list-group-item">
			<%= link_to "Round: #{round.number}", competition_round_path(@competition, round) %>
		</li>
	<% end %>
	</ol>

</div>
