<h1>Competition Details</h1>


<h3><%= @competition.title  %></h3>

<h3><%= @competition.eventDatetime  %></h3>

<h3>Competition Rounds:</h3>
<ol>
<% @competition.rounds.each do |round| %>
	<li><%= link_to "Round: #{round.number}", competition_round_path(@competition, round) %></li>
<% end %>
</ol>

<button><%= link_to "Return to list of competitions", competitions_path %></button>
<button><%= link_to "Update this competition", edit_competition_path(@competition) %></button>
<button><%= link_to "Delete this competition", competition_path(@competition), method: :delete  %></button>
<br>
<button><%= link_to "Define the Ballot for this competition", competition_phases_path(@competition)%></button>
<br>
<form method="post" action="/competitions/<%= @competition.id %>/rounds">
	<button type="submit">Add a Round to this competition</button>	
	<%= hidden_field_tag :authenticity_token, form_authenticity_token %>
</form>

<% if @competition.rounds.count > 0 %>
	<button ><%= link_to "Remove a Round from this competition", competition_round_path(@competition, id: @competition.rounds.last), method: :delete  %></button>
	<br>
<% end %>
