<div class = "row mockt-page-nav">
   <button class="btn btn-secondary"><%= link_to "Cancel" , competition_path(@competition) %></button>
   <button class="btn btn-secondary"><%= link_to "Assign Teams" , edit_competition_round_path(@competition, @round) %></button>
      <button class="btn btn-secondary"><%= link_to 'Add a "P" Team Role' , new_competition_round_role_path(@competition, @round, side: "p") %></button>
      <button class="btn btn-secondary"><%= link_to 'Add a "D" Team Role' , new_competition_round_role_path(@competition, @round, side: "d") %></button>
   <button class="btn btn-secondary"><%= link_to "Add a Ballot" , new_competition_round_ballot_path(@competition, @round) %></button>
</div>

<div class="container"
	<div class="row round-heading">
	<h2>Round <%= @round.number %> of <%= @competition.title %></h2>
	<div class = "row team-assigns">
		<div class = "col-sm-6">
			<h3>Plantiff / Prosecution: <%= @p_team.name %></h3>
		</div>
		<div class = "col-sm-6">
			<h3>Defense: <%= @d_team.name %></h3>
		</div>
	<div class="row mockt-round">
		<div class = "col-sm-6">
		   <h3>Role Assignments</h3>

		   <ul class="list-group">
				<% @round_roles.each do |role| %>
			   	<% team_member = TeamMember.find(role.team_member_id) %>
			   	<li class="list-group-item"><%= link_to "#{role.name}: #{team_member.firstName} #{team_member.lastName} (#{role.side})", role_path(role.id) %></li>
			   <% end %>
		   </ul>
		</div>
		<div class = "col-sm-6">
		   <h3>Ballot Assignments</h3>

		   <ul class="list-group">
			   <% @round_ballots.each do |ballot| %>
			   	<% judge = Judge.find(ballot.judge_id) %>
			   	<li class="list-group-item"><%= link_to "Ballot for Judge #{judge.lastName} ", edit_ballot_path(ballot.id) %></li>
			   <% end %>
		   </ul>
	   </div>
	</div>
</div
