<div class = "row mockt-page-nav">
  	<div class="col-sm-8">
	</div><!-- close column -->
	<div class="col-sm-4">
        <div class="btn-group" role="group" aria-label="Heading Nav">
            <button class="btn btn-secondary"><%= link_to "Competitions", competitions_path %></button>
            <button class="btn btn-secondary"><%= link_to "Teams", teams_path %></button>
            <button class="btn btn-secondary"><%= link_to "Team Members", team_members_path %></button>
        </div><!-- close btn-group -->
      </div><!-- close column -->
</div>


<div class="container">
	<h1>Team Member Edit</h1>

	<%= form_for [@team_member] do |f| %>
	   <%= f.label "First Name: " %>
	   <%= f.text_field :firstName %>
	   <br>
	   <%= f.label "Last Name: " %>
	   <%= f.text_field :lastName %>
	   <br>
	   <br>
	   <%= f.button %>
	<% end %>
</div>
