<div class="container">
	<h1> Team Member Entry </h1>

	<%= form_for [@team_member] do |f| %>
		<%= f.label "First Name: " %>
		<%= f.text_field :firstName %>
		<br>
		<%= f.label "Last Name: " %>
		<%= f.text_field :lastName %>
		<br>
		<br>
		<%= f.button %>
	<% end %>
</div>