<div class = "row mockt-page-nav">
</div>

<div class="container">
	<h2> New Role for Round <%= @round.number %></h2>

	<%= form_for @role, url: competition_round_roles_path(@competition ,@round) do |f| %>
		<%= f.label :name %>
		<%= f.text_field :name %>

		<%= f.label "Team Member Assigned: " %>

		<%= f.collection_select(:team_member_id, @team_members, :id, :fullName) %>

		<%= hidden_field_tag :competition, @competition %>
		<%= hidden_field_tag :round, @round %>
		<br>
		<br>
		<%= f.button %>
	<% end %>
</div>