<div class = "row mockt-page-nav">
  	<div class="col-sm-8">
		<button class="btn btn-secondary">
			<%= link_to "Add a Team Member to this Team", new_team_team_assignment_path(@team) %>
		</button>
		<button class="btn btn-secondary">
			<%= link_to "Add New Team Members", new_team_member_path %>
		</button>
	</div><!-- close column -->
	<div class="col-sm-4">
        <div class="btn-group" role="group" aria-label="Heading Nav">
            <button class="btn btn-secondary"><%= link_to "Competitions", competitions_path %></button>
            <button class="btn btn-secondary"><%= link_to "Teams", teams_path %></button>
            <button class="btn btn-secondary"><%= link_to "Team Members", team_members_path %></button>
        </div><!-- close btn-group -->
 	</div><!-- close column -->
</div>

<div class="container mockt-page">
	<h1>Team Membership for Team <%= @team.name %></h1>
	<ul class="list-group">
		<% @team_members.each do |member| %>
			<% li_item = "#{member.id}. #{member.lastName}, #{member.firstName}" %>
			<li class="list-group-item"><%= link_to li_item, edit_team_member_path(member) %></li>
		<% end %>
	</ul>

</div>
