<div class = "row mockt-page-nav">
  	<div class="col-sm-8">
	</div><!-- close column -->
	<div class="col-sm-4">
        <div class="btn-group" role="group" aria-label="Heading Nav">
            <button class="btn btn-secondary"><%= link_to "Competitions", competitions_path %></button>
            <button class="btn btn-secondary"><%= link_to "Teams", teams_path %></button>
            <button class="btn btn-secondary"><%= link_to "Team Members", team_members_path %></button>
        </div><!-- close btn-group -->
 	</div><!-- close column -->
</div>

<div class="container mockt-page">
	<div class="row">
		<h1>Select Members of Team: <%= @team.name %></h1>
		<form id="teamassignform" action="create" method="post">
    		<select multiple="multiple" size="14" name="team_assigns[]">
			<% @all_team_members.each do |member| %>
				<% if @team_members.include?(member) %>
					<% team_member_selected = ' selected="selected"' %>
				<% else %>
					<% team_member_selected = '' %>
				<% end %>

				<% li_item = "#{member.lastName}, #{member.firstName} (#{member.id})" %>
				<option value="<%= member.id %>"<%= team_member_selected %>><%= li_item %></option>
			<% end %>
			</select>
		   <button type="submit" class="btn btn-default btn-block">Submit data</button>
  		</form>
		<% var demo1 = $('select[name="team_assigns[]"]').bootstrapDualListbox() %>
		<% $("#teamassignform").submit() %>
	</div>

</div>
