<div class = "row mockt-page-nav">
  	<div class="col-sm-8">
		<button class="btn btn-secondary">
			<%= link_to "Remove this phase from the ballot", competition_phase_path(@competition, @phase), method: :delete %>
		</button>
	</div><!-- close column -->
	<div class="col-sm-4">
        <div class="btn-group" role="group" aria-label="Heading Nav">
            <button class="btn btn-secondary"><%= link_to "Competitions", competitions_path %></button>
            <button class="btn btn-secondary"><%= link_to "Teams", teams_path %></button>
            <button class="btn btn-secondary"><%= link_to "Team Members", team_members_path %></button>
        </div><!-- close btn-group -->
      </div><!-- close column -->
</div>
<div class = "row mockt-page-nav">
	<button class="btn btn-secondary">
		<%= link_to "Remove this phase from the ballot", competition_phase_path(@competition, @phase), method: :delete %>
	</button>
</div>

<div class="container mockt-page">
	<h1>Edit Phase for <%= @competition.title %></h1>

	<%= form_for [@competition, @phase] do |f| %>
		<%= f.label :order %>
		<%= f.number_field :order %>
		<br>
		<%= f.label :pTitle %>
		<%= f.text_field :pTitle %>
		<br>
		<%= f.label :dTitle %>
		<%= f.text_field :dTitle %>
		<br>
		<br>
		<%= f.button %>

	<% end %>
</div>