<div class = "row mockt-page-nav">
  	<div class="col-sm-8">
		<button class="btn btn-secondary"><%= link_to "Add a phase to this competition", new_competition_phase_path %></button>
	</div><!-- close column -->
	<div class="col-sm-4">
        <div class="btn-group" role="group" aria-label="Heading Nav">
            <button class="btn btn-secondary"><%= link_to "Competitions", competitions_path %></button>
            <button class="btn btn-secondary"><%= link_to "Teams", teams_path %></button>
            <button class="btn btn-secondary"><%= link_to "Team Members", team_members_path %></button>
        </div><!-- close btn-group -->
      </div><!-- close column -->
</div>

<div class="container">
	<h1>Competition Phases</h1>
	<ul class="list-group">
		<% @phases.each do |phase| %>
			<% li_item = "#{phase.order}. #{phase.pTitle} - #{phase.dTitle}" %>
			<li class="list-group-item"><%= link_to li_item, edit_competition_phase_path(@competition, phase)%></li>
		<% end %>
	</ul>

</div>

	