<!DOCTYPE html>
<html>
<head>
  <title>Mockt</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
</head>

<body>
  <div class="container">
    <div class="row">
      <div class="col-sm-10">
        <h1>MockT - Mock Trail Competition Archives</h1>
      </div><!-- close columns -->
      <div class="col-sm-2">
        <% if current_user %>
          <h4>Hello, <%= current_user.name %>!</h4>
          <%= link_to "My profile", "/users/profile" %><br>
          <%= link_to "Log out", "/users/sign_out", :method => :delete %><br>
          <button><%= link_to "Go to list of competitions", competitions_path %></button><br>

          <% if current_user.role == 'admin' %>
            <%= link_to "All profiles", "/users" %><br>
          <% end %>
        <% else %>
          <h4> Register for access to MockT </h4>
          <%= link_to "Sign up", "/users/sign_up" %><br>
          <%= link_to "Log in", "/users/sign_in" %><br>
        <% end %>
      </div><!-- close columns -->
    </div><!-- close row -->
  </div><!-- close container-->


  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

  <%= yield %>
</body>
</html>
